<a href="https://colab.research.google.com/github/denismarttins/colab/blob/main/tce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Importando a biblioteca **Pandas**
2.   A origem dos dados: **API do Tribunal de Contas do Estado de São Paulo (TCE-SP)**
3.   Declarando nossas **variáveis**
4.   Concatenando as **variáveis na URL** e testando a URL (print)
5.   Usando o Pandas para **exposição dos dados** 
6.   Tabela **interativa**

In [ ]:
from unicodedata import normalize
import pandas as pd

In [ ]:
#declarando as variáveis
options = input('>Escolha despesas ou receitas: ')
city = input('Digite o nome da cidade: ')
year = input('Digite o ano: ')
month = input('Digite o mês: ')

>Escolha despesas ou receitas: despesas
Digite o nome da cidade: americana
Digite o ano: 2020
Digite o mês: 04

In [ ]:
#concatenando a url
url = 'https://transparencia.tce.sp.gov.br/api/xml/' + options + '/' + city + '/' + year + '/' + month
df = pd.read_xml(url)

#definir a estrutura de condicionais
if options == 'despesas':
  colunas = df[['mes','nm_fornecedor','dt_emissao_despesa','vl_despesa']]
  display(colunas)
else:
  colunas = df[['mes','ds_fonte_recurso','ds_alinea','vl_arrecadacao']]
  display(colunas)

,mes,nm_fornecedor,dt_emissao_despesa,vl_despesa
0,Abril,M A GRANSOTI BATISTA ME,15/04/2020,"216,00"
1,Abril,FOLHA DE PAGAMENTO,08/04/2020,"1388,91"
2,Abril,CCM COMERCIAL CREME MARFIM LTDA,16/04/2020,"50,24"
3,Abril,TERCIO ADRIANO DA SILVA,02/04/2020,"2077,93"
4,Abril,FOLHA DE PAGAMENTO,30/04/2020,"46547,13"
...,...,...,...,...
7504,Abril,FOLHA DE PAGAMENTO - PENSIONISTAS,30/04/2020,"77531,27"
7505,Abril,FOLHA DE PAGAMENTO,30/04/2020,"2440,00"
7506,Abril,LYRA CAVALCANTE SERVIÇOS MÉDICOS LTDA.,06/04/2020,"1500,00"
7507,Abril,FOLHA DE PAGAMENTO,30/04/2020,"610,00"
7508,Abril,UNIVERSALPREV SOFTWARE E CONSULTORIA LT,16/04/2020,"1600,00"